[program:{{ project_name }}]
command=grunt
directory={{ mean_directory }}
user={{ user_name }}
stdout_logfile=/var/log/supervisor_{{ project_name }}.log
redirect_stderr=true
autostart=true
autorestart=true
